@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Dancing+Script:wght@400..700&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Jacquard+12&family=Jersey+10&family=Jersey+15&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Pacifico&family=Pixelify+Sans:wght@400..700&family=Play:wght@400;700&family=Playpen+Sans:wght@100..800&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Dancing+Script:wght@400..700&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Jacquard+12&family=Jersey+10&family=Jersey+15&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Pacifico&family=Pixelify+Sans:wght@400..700&family=Play:wght@400;700&family=Playpen+Sans:wght@100..800&family=Press+Start+2P&family=Raleway:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.background {
    object-fit: cover;
    display: block;
    height: 100vh;
    width: 100vw;
}

h1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 0;
    line-height: 1.5;
}

.welcome {
    display: block;
    font-size: 40px;
    font-weight: 500;
    font-family: 'Pixelify Sans', sans-serif;
    color: #6a468c;
}

.title {
    font-size: 110px;
    font-family: 'Pixelify Sans', sans-serif;
    background: linear-gradient(to bottom, #ac8eb5, #5b2c86);
    background-clip: text;
    color: transparent;
    border: 1px solid;
    line-height: 80px;
    -webkit-text-stroke: 2px rgb(248, 239, 241);
}

.description {
    position: absolute;
    text-align: center;
    top: 35%;
    left: 50%;
    letter-spacing: 1px;
    line-height: 1.5;
    transform: translateX(-50%);
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    font-weight:600;
    color: #6a468c;
}

/* NAVIGATION*/
.bar {
    top: 20px;
    left: 50px;
    right: 50px;
    height: 60px;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(250, 231, 240);
    border: 2px solid rgb(241, 201, 229);
    border-radius: 10px;
}

.bar h1 {
    font-weight: 500;
    font-size: 30px;
    font-family: 'Pixelify Sans', sans-serif;
    color: #6a468c;
    margin: 0;
    transform: none;
}

.bar nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.bar ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0px;
    padding: 0px;
}


.bar a {
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    font-weight:600;
    color: #6a468c;
    text-decoration: none;
}

.bar img {
    height: 30px;
    width: 30px;
}

.bar nav p {
    margin: 0;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    font-weight:600;
    color: #6a468c;
}

.log {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px 5px 10px;
}

.bar .logo {
    object-fit: contain;
    height: 65px;
    width: 55px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 8px;
}

.brand h1 {
    position: static;
    font-size: 25px;
}

.navButton {
    margin-left: 30px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
    background: linear-gradient(to bottom, #ebdee2, #fcc9db);
    border: 1px solid rgb(236, 168, 196);
    border-radius: 10px;
}

.navButton:hover {
    transform: scale(1.05);
}

.features, .apps, .about {
    display: flex;
    align-items: center;
    gap: 10px;
}

.startButton{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 53%;
    height: 60px;
    width: 200px;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease;
    background: linear-gradient(to bottom, 
    #f2afc3, #f080a7);
    border: 1px solid rgb(212, 133, 166);
    border-radius: 10px;
}

.startButton:hover {
    transform: translate(-50%, -50%) scale(1.05);
}

.logoStart{
    object-fit: contain;
    height: 30px;
    height: 30px;
}

.startButton p {
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
    margin: 0;
    color: #ffffff;
}

/* Home Page */

.sidebar-nav {
    width: 200px;
    border: 1px solid #d496b8;
    border-radius: 15px;
    margin: 10px;
    background-color: #fce7ef;
}

.logo-homePage {
    gap: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    background-color: #f7dae4;
    border: 1px solid #d496b8;
    transform: scale(1.01);
    border-radius: 15px 15px 0px 0px;
}

.sidebar-nav ul {
    list-style: none;
    line-height: 30px;
    padding: 0;
    margin: 20px 5px 20px 5px;
}

.sidebar-nav a {
    display: block;
    text-decoration: none;
    font-size: 13px;
    line-height: 40px;
    font-family: 'Varela Round', sans-serif;
    font-weight:600;
    color: #6a468c;
    text-align: center;
}

.hp-home.active,
.hp-apps.active,
.hp-favorites.active,
.hp-recent.active,
.hp-achievement.active,
.hp-goals.active,
.hp-costumize.active,
.hp-setting.active {
    background-color: #fbd1e0;
    border: 1px solid #f8c4d6;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.logo-homePage img {
    object-fit: contain;
    height: 65px;
    width: 55px;
}

.logo-homePage p {transform: scaleY(1.02);
    font-weight: 500;
    font-size:23px;
    font-family: 'Pixelify Sans', sans-serif;
    color: #6a468c;
    margin: 0;
    line-height: 1.4;
}

.logo-homePage .heart {
    height: 30px;
    width: 30px;
}

.home-page {
    display: flex;
    height: 100vh;
    background: linear-gradient(153deg, #f9c8e1 , #f9ddea);
}

.main {
    margin: 10px;
    border: 1px solid #d496b8;
    border-radius: 15px;
    background-color: #fce7ef;
}

.main .banner {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -78px;
    margin-bottom: -70px;
    border: #d496b8;
    border-radius: 15px;
}

.hp-home, 
.hp-apps, 
.hp-favorites, 
.hp-recent,
.hp-achievement,
.hp-goals,
.hp-costumize,
.hp-setting {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    border: 1px solid transparent;

}

.hp-home img, 
.hp-apps img, 
.hp-favorites img, 
.hp-recent img,
.hp-achievement img,
.hp-goals img,
.hp-costumize img,
.hp-setting img {
    display: block;
    width: 30px;
    height: auto;
}

.line {
    height: 2px;
    margin: 10px;
    background: #f6d6e1;
}

.motivation {
    object-fit: contain;
    width: 210px;
    height: auto;
}

/* HOME SECTION */
#home-section { 
    margin: 5px 20px 20px 20px; 
}

.title_home-section {
    display: flex;
    gap: 10px;

}

.title_home-section img {
    height: auto;
    width: 30px;
}

.title_home-section h4 {
    margin: 0;
    font-size: 20px;
    font-family: 'Varela Round', sans-serif;
    font-weight:600;
    color: #561a4f;
}

.boxes {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-direction: row;
    gap: 20px;
}

.timer-app,
.pet-app,
.messenger-app,
.cookie-app,
.lucky-app,
.weather-app,
.todo-app,
.musicPlayer-app,
.calculator-app,
.memory-app {
    width: 200px;
    height: 210px;
    box-sizing: border-box;
    border: 1px solid #d496b8;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff7fb;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.timer-app:hover,
.pet-app:hover,
.messenger-app:hover,
.cookie-app:hover,
.lucky-app:hover,
.weather-app:hover,
.todo-app:hover,
.musicPlayer-app:hover,
.calculator-app:hover,
.memory-app:hover {
    transform: scale(1.04);
}

.timer-app img,
.pet-app img,
.messenger-app img,
.cookie-app img,
.lucky-app img,
.weather-app img,
.todo-app img,
.musicPlayer-app img,
.calculator-app img,
.memory-app img {
    height: 130px;
    width: 200px;
}

.boxes h2 {
    font-family: 'Varela Round', sans-serif;
    font-weight:600;
    font-size: 15px;
    margin: 6px;
    color: #561a4f;
}

.boxes p {
    font-family: 'Varela Round', sans-serif;
    font-weight:600;
    font-size: 13px;
    margin: 0px 10px 10px 6px;
    color: #6a468c;
    line-height: 1.5;
}

.section {
    display: none;
}

.section.active {
    display: block;
}